--- header=${CLASSNAME}.h ---
/*
 * Message handler class declaration: ${CLASSNAME}
 */

#ifndef ${CLASSNAME_UPPER}_H
#define ${CLASSNAME_UPPER}_H

#include "cdp.pb.h"
#include "CssServer.h"
#include "CssMessageHandler.h"

class ${CLASSNAME} : public CssMessageHandler
{
  virtual void HandleMessage(CssServer &server, cdp::DebugCommand *cmd);
};

#endif // ${CLASSNAME_UPPER}_H
--- source=${CLASSNAME}.cpp ---
/*
 * Message handler class definition: ${CLASSNAME}
 */

#include "GeStd.h"
#include "DcCommon.h"

#include "cdp.pb.h"
#include "CssServer.h"
#include "${CLASSNAME}.h"

void
${CLASSNAME}::HandleMessage(CssServer &server, cdp::DebugCommand *cmd)
{
  server.Fail(cmd, "Command not implemented: " + cmd->DebugString());
}
