; -*- lisp -*-

(machine "donut"
	 (name "Donut")
	 (short "Donut ... ")
	 (descr "Sunfire ...")
	 (group "system"
		(name "System")
		(parameter "start_script"
			   (name "Start script")
			   (descr "...")
			   (type enum)
			   (values
			    ("donut-common.simics")
			    ("..."))
			   (default 0))
		
		(parameter "autologin"
			   (name "Login automatically")
			   (type boolean)
			   (default true)))

	 (group "cpu"
		(name "CPU")		;; group name
		(parameter "type"
			   (name "CPU Type")
			   (type enum)
			   (values
			    (("sparc-u2" (descr "UltraSPARC II"))
			     ("sparc-u3" (descr "UltraSPARC III"))))
			   (default 0)
			   (pythonvar "cpu_type"))
		(parameter "memory"
			   (name "Memory")
			   (descr "Amount of RAM in the machine")
			   (type enum)
			   (values
			    (256 512 1024 2048 4096))
			   (default 0)
			   (pythonvar "memory_megs"))
		(parameter "ncpus"
			   (name "Number of CPUs")
			   (values
			    ((1 (sem "@boards ..."))
			     (2 (sem "@boards ...")))))))
		